<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8"/>

<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	   <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
	  
	  
	  
</head>
<body>

   <img src="imagenes/assets/logo.gif" class ="img-responsive" width ="150" align = "center" height = "150"/>

<nav class="card-panel teal lighten-12" role="navigation">
<a href="" class="center-align"><h5 color="black" >"AFRICA" Parque Diversiones</h5></a>
</nav>

<table >
	  
	  <nav class="card-panel teal lighten-12" role="navigation">
  <div class="nav-wrapper" >
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><a href="" class="collection-item">Quienes Somos<span class="badge"></span></a></li>
      <li><a href="" class="collection-item">Registrarse<span class="badge"></span></a></li>
	    <li><a href="" class="collection-item">Reserva tu Fiesta<span class="babge"></span></a></li>
	    <li><a href="" class="collection-item">Contacto<span class="babge"></span></a></li>
	  
    </ul>
  </div>
</nav>
 </table>
	  <div class="bg-img bg-img-3"></div>
	  <img src="imagenes/assets/africa.jpg" class ="img-responsive" width ="1349" align = "center" height = "500"/>

    <a href="" class="center-align"><p> "AFRICA" Parque de Diversiones, es un lugar pensado y diseñado en la selva africana, donde puedes compartir un rato de esparcimiento familiar con los mas chiquitos de la casa.
      Alli podras encontrar diferentes atracciones donde podras poner a prueba tu toque aventurero... No te quedes con las ganas de conocer y vivir una experiencia Feroz.</a></p> 

	 
   </body>
</html>